/*
******
Navbar
******
*/

.nav {
    background-color: rgb(255, 236, 236);
    color: white;
    height: 80%;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    padding: 0 1rem;
  }
  
  
  .nav a {
    opacity: 100%;
    color: rgb(0, 0, 0);
  }

  .nav a:hover {
    /* filter: saturate(20) brightness(0.9); */
    filter: drop-shadow(0 0 2em #06fb43aa);
    opacity: 70%;
  }