@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
}

a {
  text-decoration: none;
  color: #ffffff;
}

p {
  line-height: 1.7;
}

ul {
  list-style: none;
}

li {
  line-height: 2.2;
}

h2,
h3 {
  font-weight: 600;
  margin-bottom: 10px;
  color: #7e53b6;
}

h1 {
  font-size: 48px;
  margin-top: 50px;
  color: #ffffff;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  padding: 20px 0;
  margin-bottom: 30px;
}

a {
  font-size: 18px;
  color: #e1e1e1;
  font-family: IBM Plex Mono,monospace;
  font-weight: 800;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}

a:focus,
a:hover {
  color: #fff;
}

a:focus:after,
a:hover:after {
  width: 100%;
  left: 0%;
}

a:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #fff;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}

.header ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header ul li {
  margin-left: 20px;
}

.header ul li a {
  display: flex;
  align-items: center;
}

.header ul li a:hover {
  color: #777;
}

.header ul li a svg {
  margin-right: 5px;
}

.heading {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 50px;
  padding: 0 20px;
}

.heading p {
  color: #828282;
}

.goals {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

 .goal:hover {
  border-bottom-right-radius: 50px;
  border-top-left-radius: 50px;
  transform: scale(1.05);
  margin-top: -20px;
  transition: 0.3s;
 }
 

.goal {
  background-color: #2c2c2b;
  margin: 10px 0;
  padding: 13px;
  position: relative;
  border-radius: 20px;
  box-shadow: 15px 15px 30px rgb(25, 25, 25),
             -15px -15px 30px rgb(60, 60, 60);
}

.favouriteIcon {
  position: absolute;
  top: 18px;
  right: 56px;
  background: none;
  border: none;
  color: white;
  font-size: 35px;
}

.favouriteIcon:hover {
  color: red;
  transition: 0.3s;
  font-size: 43px;
}

.goal .close {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
  border: none;
  background: none;
}

.form {
  width: 40%;
  margin: 0 auto;
}

.content {
  width: 70%;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 10px;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: inherit;
}

.form-group label {
  text-align: left;
  display: block;
  margin: 0 0 5px 3px;
  color: white;
  font-weight: bold;
}

.btn {
  padding: 13px 20px;
  border: 1px solid #000;
  border-radius: 5px;
  background: #000;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn svg {
  margin-right: 8px;
}

.btn-reverse {
  background: #fff;
  color: #000;
}

.btn-block {
  width: 100%;
  margin-bottom: 20px;
}

.btn:hover {
  transform: scale(0.98);
}

.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  width: 200px;
  height: 60px;
  position: relative;
  z-index: 1;
}

.circle {
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 50%;
  background-color: #fff;
  left: 15%;
  transform-origin: 50%;
  animation: circle7124 .5s alternate infinite ease;
}

@keyframes circle7124 {
  0% {
    top: 60px;
    height: 5px;
    border-radius: 50px 50px 25px 25px;
    transform: scaleX(1.7);
  }

  40% {
    height: 20px;
    border-radius: 50%;
    transform: scaleX(1);
  }

  100% {
    top: 0%;
  }
}

.circle:nth-child(2) {
  left: 45%;
  animation-delay: .2s;
}

.circle:nth-child(3) {
  left: auto;
  right: 15%;
  animation-delay: .3s;
}

.shadow {
  width: 20px;
  height: 4px;
  border-radius: 50%;
  background-color: rgba(0,0,0,0.9);
  position: absolute;
  top: 62px;
  transform-origin: 50%;
  z-index: -1;
  left: 15%;
  filter: blur(1px);
  animation: shadow046 .5s alternate infinite ease;
}

@keyframes shadow046 {
  0% {
    transform: scaleX(1.5);
  }

  40% {
    transform: scaleX(1);
    opacity: .7;
  }

  100% {
    transform: scaleX(.2);
    opacity: .4;
  }
}

.shadow:nth-child(4) {
  left: 45%;
  animation-delay: .2s
}

.shadow:nth-child(5) {
  left: auto;
  right: 15%;
  animation-delay: .3s;
}

.myHidden{
  display: none;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 600px) {
  .form {
    width: 90%;
  }

  .heading h1 {
    font-size: 2rem;
  }

  .heading p {
    font-size: 1.5rem;
  }
}

.vaizdas {
  background-color: #33332D;
 }

img {
  width: 400px;
  height: 340px;
  border-radius: 20px;
}

.ImageBackground{
  background-color: white;
}

.categoryFilter{
  padding: 5px;
  margin-right: 5px;
  width: 200px;
}

.dateFilter{
  padding: 7px; 
  width: 300px;
  text-align: center;
  border: 1px solid #000000;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 700;
  background-color: transparent;
  transition: 0.2s;
}

.dateFilter:hover{
  border: 1px solid #fff;
}


.fav_counter{
  position: absolute;
  top: 18px;
  right: 19px;
  color: white;
}

.sort_category{
  background: transparent;
  border: 1px solid #000;
  color: #000;
  padding: 8px 30px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  margin: 3px;
  cursor: pointer;
  transition: 0.2s;
  width: 120px;
}

.sort_category:hover{
  border: 1px solid #fff;
  color: #fff;
}

.sort_category:active{
  background-color: #fff;
}

.sort{
  /* border-top: 1px solid #fff; */
  /* border-bottom: 1px solid #fff; */
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 20px;
}

.active{
  border: 1px solid #e0bf03;
  color: #e0bf03;
  transition: 0.2s;
}

.types {
  gap: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: flex-start;
}

.project-type {
  background: #b2b2fd;
  color: #1a41cd;
  font-weight: bold;
  padding: 0.3em 0.7em;
  border-radius: 15px;
  font-size: 12px;
  letter-spacing: -0.6px;
  margin-bottom: 10px;
}

.description {
  margin-top: 1rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: rgba(107, 114, 128, 1);
}

.title {
  font-size: 30px;
  font-weight: 700;
  color: rgb(188, 231, 224);
  font-family: Verdana;
}

.eventplace {
  font-size: 30px;
  color: rgb(148, 148, 148);
}


.webLogo {
  font-size: 80px;
  color: #1a41cd;
  display: flex;
  justify-items: start;
}



.goalsApproval {
  display: grid;
  grid-auto-flow: column;
  width:100%;
  overflow-x: scroll;
  white-space: nowrap;
}

.goalApproval {
  display:inline-block;
  background-color: #2c2c2b;
  margin: 10px 0;
  padding: 13px;
  position: relative;
  border-radius: 20px;
  margin-right: 10px;
  box-shadow: 15px 15px 30px rgb(25, 25, 25),
  -15px -15px 30px rgb(60, 60, 60);
}

.goalApproval .description {
  word-break: keep-all;
  white-space: pre-wrap;
}

.buttons {
  width: 100px;
  margin: 0 auto;
  display: inline;
}

.approveBtn {
  padding: 13px 20px;
  border: 1px solid green;
  border-radius: 5px;
  background: green;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  appearance: button;
  margin-right: 5px;
}

.disapproveBtn {
  padding: 13px 20px;
  border: 1px solid red;
  border-radius: 5px;
  background: red;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  appearance: button;
  margin-right: 5px;
}


.approveBtn-block {
  width: 50%;
  margin-bottom: 20px;
}


.approvalWindow {
  border-bottom: 2px solid rgb(17, 16, 16);
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.categoriesAndUsers{
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}

.adminCategories{
  border: 2px solid rgb(51, 7, 51);
  border-radius: 5px;
  padding: 15px;
}

.adminUsers{
  border: 2px solid rgb(51, 7, 51);
  border-radius: 5px;
  padding: 15px;
}

.adminSeparateCategory{
  margin-top: 20px;
}

.adminRemoveBtn {
  padding: 6px 10px;
  border: 1px solid red;
  border-radius: 5px;
  background: red;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  appearance: button;
  margin-right: 5px;
}

.adminSubmit{
  padding: 9px 10px;
  border: 1px solid rgb(146, 153, 84);
  border-radius: 5px;
  background: rgb(182, 190, 110);
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  appearance: button;
  margin-right: 5px;
}

.adminApproveBtn {
  padding: 6px 10px;
  border: 1px solid green;
  border-radius: 5px;
  background: green;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  appearance: button;
  margin-right: 5px;
}

.adminInput{
  border: none;
  background: hsl(0 0% 93%);
  border-radius: .25rem;
  padding: .75rem 1rem;
  margin-bottom: 4px;
}
.adminForm{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.adminUser{
  display: flex;
  flex-direction: column;
  border: 3px solid #202020;
  border-radius: 5px;
  margin-bottom: 20px;
  padding-left: 5px;
  padding-bottom: 4px;
}